<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anatomy Secrets</title>
</head>
<body>
    <h1>Anatomy Secrets</h1>
    <h2>Generate Workout Plans</h2>
    <h3>Select how often you want to workout</h3>

    <input type="radio" id="threeDays" name="workoutDays" value="threeDays">
    <label for="threeDays">3 days/week</label><br>

    <input type="radio" id="fiveDays" name="workoutDays" value="fiveDays">
    <label for="fiveDays">5 days/week</label><br>

    <!-- Maybe have it to be beginner, intermediate, advanced-->
    <h3>Select difficulty</h3>
    <input type="radio" id="easy" name="workoutDays" value="easy">
    <label for="medium">Easy</label><br>

    <input type="radio" id="medium" name="workoutDays" value="medium">
    <label for="medium">Medium</label><br>

    <input type="radio" id="hard" name="workoutDays" value="hard">
    <label for="hard">Hard</label><br>


    <input type="submit" value="submit">

    <!-- THIS IS WHERE THE USER WORKOUTS WILL BE -->
    <h2>User Workouts</h2>
    <p>haha first exercise</p>
    {% for exercise in exercises %}
        <li>
            {{ exercise.name }}
            {{ exercise.description }}
            {% comment %}{{ workouts.description }}
            {% if workouts.completed %}
                (Done)
            {% endif %}{% endcomment %}
        </li>
    {% endfor %}
    <!-- END OF USER WORKOUTS -->

    <h1>TESTING</h1>


    {% for workouts in workoutPlan %}
        <li>
            {{ workouts.name }}
            {{ workouts.type }}
            {{ workouts.difficulty }}
            {% comment %}{{ workouts.description }}
            {% if workouts.completed %}
                (Done)
            {% endif %}{% endcomment %}
        </li>
    {% endfor %}

    <h1>FOR EXERCISES IN ARMS</h1>
    <h2>{{ workoutPlan.name }}</h2>
    {% if selected %}
        <p>Selected is true</p>
        {% for armExercises in exercise_test %}
            <li>
                {{ armExercises.name }}
            </li>
        {%  endfor %}
    {% elif selected == False %}
        <p>Selected is false</p>
    {% else %}
        <p>Selected is unknown</p>
    {% endif %}
</ul>
</body>
</html>